.btn {
  background-color: transparent;
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
  border-radius: 10px 10px 0 0;
}

.btn:hover {
  background-color: transparent;
  border-color: var(--color-primary);
}


.btn-ghost {
  border-color: var(--color-primary);
  color: var(--color-primary-light);
  background-color: transparent;
}

.btn-ghost:hover {
  background-color: var(--color-secondary);
  border-color: transparent;
  color: var(--color-primary);
}
