 .logo {
  color: var(--color-primary-light);
  padding: .5em;
  text-align: center;
  margin: 0;
  overflow: hidden;
  border-bottom: solid 3px var(--color-primary);
}

.pink {
  color: var(--color-primary);
}

.logo-full {
  display: none;
}

@media only screen and (min-width: 38em) {

  .just-c {
    display: none;
  }

  .logo-full {
    display: block;
    max-width: 70px;
  }
}
